[submodule "lib/openslam_gmapping"]
	path = lib/openslam_gmapping
	url = https://github.com/ros-perception/openslam_gmapping.git
[submodule "lib/turtlebot3"]
	path = lib/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
[submodule "lib/slam_gmapping"]
	path = lib/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
[submodule "lib/turtlebot3_simulations"]
	path = lib/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
[submodule "lib/turtlebot3_msgs"]
	path = lib/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
[submodule "lib/turtlebot"]
	path = lib/turtlebot
	url = https://github.com/turtlebot/turtlebot.git
[submodule "lib/kobuki"]
	path = lib/kobuki
	url = https://github.com/yujinrobot/kobuki.git
[submodule "lib/yujin_ocs"]
	path = lib/yujin_ocs
	url = https://github.com/yujinrobot/yujin_ocs.git
